.pagination-container {
  border: none;
  display: flex;
  flex-wrap: nowrap;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  height: 40px;
}

.current-page {
  color: #c7a17c !important;
  font-weight: bolder;
}
.button-hover,
.pagination-button,
p {
  margin: 0 3px;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  color: black;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-family: Arial;
  font-size: 13px;
}

.button-hover:focus {
  outline: none;
}
.button-hover:hover {
  cursor: pointer;
  background-color: #c7a17c;
  color: white;
}
.button-hover:disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: gray;
}
