.about {
  width: 50%;
  margin: auto;
  text-align: justify;
  padding: 20px;
}
.about__title {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 50px;
  color: #6d6c6c;
}
.about__paragraph {
  font-size: 20px;
  color: #6a6363;
}
.about_the_app {
  background-color: #efd4b8;
  margin: 40px 0px;
  padding: 20px 62px 62px 62px;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .about {
    width: 80%;
    padding: 0px;
  }
  .about_the_app {
    padding: 20px;
  }
  .about__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .about__paragraph {
    font-size: 14px;
    padding: 0px;
  }
}
