.select-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 160px;
}

.value-container {
  display: flex;
  flex-wrap: nowrap;
  font-size: 20px;
  justify-content: center;
  padding-top: 10px;
}
.value-container-open {
  display: flex;
  flex-wrap: nowrap;
  font-size: 20px;
  justify-content: center;
  background-color: white;
  color: #c7a17c;
  font-weight: bold;
  padding-top: 10px;
}
.value-container-open:hover {
  cursor: pointer;
}
.value-container i {
  font-size: 30px;
  margin-top: -4px;
}

.options-container {
  position: relative;
  background-color: white;
  font-size: 16px;
  margin-top: -1px;
  padding-top: 20px;
}
.option-container {
  padding: 4px 0;
  height: 30px;
  text-align: center;
}
.option-container:hover {
  cursor: pointer;
}
.value-container:hover {
  cursor: pointer;
}
