.header-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #c7a17c;
  min-height: 70px;
  align-items: center;
}

.nav-link {
  margin: 0 15px;
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.nav-link-active {
  margin: 0 15px;
  font-family: sans-serif;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
  color: #dbf3a1;
}
.nav-link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 450px) {
  .nav-link,
  .nav-link-active {
    font-size: 16px;
    margin: 0 5px;
  }
}
.logo {
  height: 74px;
  position: absolute;
  left: 0px;
}
