.input-button-container {
  display: flex;
}

.input-element {
  background-color: #ffffffb3;
  height: 50px;
  border: none;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;
  flex: 1;
  min-width: 70px;
  font-size: 22px;
}

.input-element:focus {
  outline: none;
}

.submit-button {
  background-color: #ffffffb3;
  height: 52px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  border: none;
  font-size: 22px;
}
.submit-button:hover {
  cursor: pointer;
}
.submit-button:focus {
  outline: none;
}

.filters-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 40px;
  background-color: #bbb7b4;
  font-family: sans-serif;
}

.div-extra-recipe-list {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(3px);
}
