.search-container-search {
  background-color: white;
}

.input-button-container-home {
  display: flex;
}
.input-button-container-search {
  background-color: #ffffff;
  text-align: center;
  padding-top: 10px;
}
.input-button-container-search input {
  width: 30%;
  background-color: #eadbcc;
}

.input-button-container-search button {
  background-color: #eadbcc;
}

.input-element {
  padding-left: 10px;
  background-color: #ffffffb3;
  height: 50px;
  border: none;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;
  flex: 1;
  min-width: 70px;
  font-size: 22px;
}
/* .input-button-container-search::placeholder {
  color: #916338;
} */
.input-element:focus {
  outline: none;
}

.submit-button {
  background-color: #ffffffb3;
  height: 52px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  border: none;
  font-size: 22px;
  margin: 0px;
}
.submit-button:hover {
  cursor: pointer;
}
.submit-button:focus {
  outline: none;
}

.filters-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 40px;
  font-family: sans-serif;
  width: 66%;
  margin: auto;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;
  padding: 10px;
  margin-top: 10px;
}

.div-extra-recipe-list {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(3px);
}
