.recipe-detail-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-family: system-ui;
  text-align: left;
  max-width: 700px;
}

.recipe-detail-container h1 {
  text-align: center;
}

.recipe-detail-container img {
  width: inherit;
}

.all {
  border: 1px solid #c7a17c;
  padding: 21px;
  margin: 15px;
}

.summary-container {
  font-family: system-ui;
}

.diet-information {
  border-top: 4px solid #c7a17c;
  border-bottom: 4px solid #c7a17c;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.ingredients-container {
  border-bottom: 4px solid #c7a17c;
}
.ingredients-container h2 {
  padding-left: 26px;
}
.instructions-container h2 {
  padding-left: 26px;
}
.instructions-container ul {
  padding-left: 26px;
}

.instructions-container li {
  list-style: none;
}

h2 {
  text-align: left;
}
